



 /* .fullBody{
    margin: >0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 80px;
    color: #464646;
    background-color: #f7f7f7;
    box-sizing: inherit;
    display: block;
} */

/* .header{
    width:100%;
    height:60px;
    background-color:#E6E6FA;
} */

/* .body {  */
    /* margin:0px;
    padding:0px;
    min-height: 100vh;
    background-color: #fafafa;
    
    font-family: Arial, Helvetica, sans-serif; */
    /* background: lightcyan; */
    /* font-size: 17px;
    line-height: 1.6;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center; */
  /* } */




/* .container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
} */

/* .heading {
    display: block;
    font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
} */

/* .gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
} */

/* .gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
} */

/* .gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
} */

/* .gallery-image:hover {
	transform: scale(1.15);
} */


@import  url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import  url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

.accordion {
    margin: auto; 
    display: block; 
    padding: 20px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: .5s;
    background: #40303f; 
    color: #f55341; 
    padding: 8px 11px;
    cursor: pointer;
    border: none;
    font-size: 22px;
}
.panel {
    transition: max-height 0.2s ease-out;
    width: 80%;
    padding: 0 18px;
    overflow: hidden;
    display: none;
  }
.active, .accordion:hover {
    color: blue; 
}
/* #accordion div {
    padding: 5px 10px;
} */

/* This controls the header */
/* #accordion h3 {
}

#accordion div p {
  margin-top: 0;
} */

p {
    display: flex;
    justify-content: center;
}  
.icon-expand, .icon-collapse {
    float: right;
    margin-top: 5px;
}

.purple h3 {
    text-align: center;
}

body {
 background: cornflowerblue;
}
